@{
    Page.Title = "How to play";
    Layout = "~/_PlayerLayout.cshtml";


}

<div>
    <h1>How to play</h1>
    <div>
        <div>
            <p>This game has some rules, but just to begin, let's start with this video:</p>
            <div><iframe width="420" height="315" src="//www.youtube.com/embed/iapcKVn7DdY" frameborder="0" allowfullscreen></iframe></div>
            <p>
                <ul>Basically this is the rules:
                <li>Scissors cut Paper</li>
                <li>Paper covers Rock</li>
                <li>Rock crushes Lizard</li>
                <li>Lizard poisons Spock</li>
                <li>Spock smashes Scissors</li>
                <li>Scissors decapitate Lizard</li>
                <li>Lizard eats Paper</li>
                <li>Paper disproves Spock</li>
                <li>Spock vaporizes Rock</li>
                <li>Rock crushes Scissors</li>
                </ul>
                

            </p>
           
        </div>
    </div>
</div>